<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.css">
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="myframe">
    <h1>Zip Car </h1>
    <p>Welcome to Zip Car</p>

    <form class = "myform" action="/login" method="post">
        User Name: <input name="UserName" type="text" /> <br />
        Password : <input name="Password" type="text" /> <br />
        <button type="submit" >Login</button>
        <button type="submit" formaction="/register">Register</button>
  </div>
</main>


</body>
</html>
