<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.css">
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="myframe">
	<form action="/login" method="post">
		<div class="imgcontainer">
			<img src="logo.png" alt="Logo" class="logo">
		</div>

		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw" required>
			<label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			</label>
			<div style="text-align: center; width: 100%;">
			<button type="submit" style="width: 100%; ">Login</button>
			</div>
			
		</div>

		<div class="container" style="text-align: center; margin-top: -20px">
			<p> Don't have an account?
			<button type="submit" 
			style="background: transparent; color: black; text-decoration: underline; font-weight: bold; padding-left: 2px;" 
			formaction="/register" formnovalidate >Register</button>
		</p>
		</div>
	</form>

  </div>
</main>


</body>
</html>
