html, body {height: 100%;}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

.fullbody {
  background-color: #F6F7F9;
  display: flex;
  min-height: 90%;
}

.footer {
  background-color: white;
  position: absolute;
  display: flexbox;
  bottom: 0;
  width: 100%; 
  align-items: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #478CCD;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  border: none;
  cursor: pointer;
}

.icon {
  background-color: transparent !important;
    padding: 2px !important;
    text-align: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  display: inline;
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Extra style for the Registration cancel button (red) */
.regcancelbtn {
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.logo {
  width: 30%;
}

/* Add padding to containers */
.container {
  overflow-y: auto;
  padding: 16px;
  
}

.editcontainer {
  background-color: white;
  overflow-y: auto;
  padding: 16px;
}


/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
  #editsavebtn{
    width: 100%;
  }
  #editcancelbtn{
    width: 100%;
    display: block
  }
}

.right-side-content {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.logocontainer {
  text-align: left;
  margin-top: 12px;
}

header {
  vertical-align: bottom;
}

nav {
  vertical-align: bottom;
  border-bottom: 5px solid #478CCD;
}

.nav-list {
  list-style-position: inside;
  background: white;
  padding: 16px;
  padding-bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.nav-list li {
  list-style: none;
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.nav-list li a {
  font-size: large;
  text-decoration: none;
  color:black;
}

.nav-list li:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-list li a.active{
  color: #478CCD;
  font-weight: bold;
  border-bottom: 2.5px solid #478CCD;
}

.nav-list li a:hover {
  color:#478CCD
}


.header {
  text-align: left;
  font-size: 30px;
  padding-right: 375px;
}

.dateForm {
  white-space: nowrap;
  align-items: center;
  text-align: center
}

.dateForm button {
  text-align: center;
  padding: 10px 20px;
  background-color: #478CCD;;
  border: 1px solid #ddd;
  color: white;
  width: 25%;
}

.dateForm input[type="submit"], input[type="date"] {
    display: inline-block;
}

.billing-table {
    vertical-align: 10px;
}

.billing-table tr, td {
    border: 3px solid #F6F7F9;
    background-color: white;
    padding: 15px;
    text-align: center;
}
#tripbox {
  height: auto;
  margin-top: 30px;
  
}
#tripTitleBox {
  color: white;
  height: max-content;
  background-color: #478CCD;
}
#tripDetailBox {
  background-color: white;
}
.whiteTitle{
  color: white
}

.formnoborder {
  margin: 0;
  display: inline;
  border: none !important;
}

#editsavebtn {
  background-color: #478CCD;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  min-width: 45%;
}

#editcancelbtn {
  display: inline;
  float: right;
  background-color: white;
  color: black;
  padding: 14px 20px;
  border: 0.5px solid black;
  cursor: pointer;
  min-width: 45%;
}
