<div class="footer"> 
    <div class="imgcontainer">
        <img src="logo.png" style="margin-top: 16px; width: 20%">
        <p class="text-center text-muted">&copy; Indiana Rentals</p>
    </div>
</div>
